<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>刀劍神域封測</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./sao.css">
  <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>
  <script src="./script.js"></script>
  <script src="./sao.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<!-- partial:index.partial.html -->

<body ng-controller="RegisterCtrl" ng-app="myApp">
  <div id="bg" class="bg">
    <!-- <div class="container">
      <div id="signup">
        <div class="signup-screen">
          <div class="space-bot text-center">
            <h1>Sword Art Online</h1>
          </div>
          <form class="form-register" method="post" name="register" novalidate>
            <div class="input-field col s6">
              <input id="name" type="text" class="validate" required>
              <label for="name">名字</label>
            </div>
            <div class="input-field col s6">
              <input id="email" type="email" name="email" ng-model="email" class="validate" required>
              <label for="email">電子郵件</label>
            </div>
            <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.
            </p>
            <div class="input-field col s6">
              <input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate"
                required>
              <label for="password">密碼</label>
            </div>
            <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">
              Your password must be at least 6 characters.</p>
            <div class="space-top text-center">
              <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
                <i class="material-icons left">done</i> 參加抽資格
              </button>
              <button type="button" class="waves-effect waves-light btn cancel">
                <i class="material-icons left">clear</i>取消
              </button>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <script type="text/javascript">
      SAONotify('Sword Art Online 封測資格', '<form class="form-register" method="post" name="register" novalidate> <div class="input-field col s6"> <input id="name" type="text" class="validate" required> <label for="name">名字</label> </div> <div class="input-field col s6"> <input id="email" type="email" name="email" ng-model="email" class="validate" required> <label for="email">電子郵件</label> </div> <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid. </p>', 'location.reload(true);');
    </script>
  </div>

</body>

</html>