<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <title>刀劍神域封測</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./sao.css">
  <script src='https://code.jquery.com/jquery-latest.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>
  <script src="./script.js"></script>
  <script src="./sao.js"></script>
  <link rel="stylesheet" href="https://npm.elemecdn.com/@fortawesome/fontawesome-free@6/css/all.min.css" />
  <script>
    function SubmitFormData() {
        var name = $("#name").val();
        var email = $("#email").val();
        $.post("index.php", { name: name, email: email },
        function(data) {
       $('#results').html(data);
       $('#form-register')[0].reset();
        });
    }
    </script>
</head>


<!-- partial:index.partial.html -->

<body ng-controller="RegisterCtrl" ng-app="myApp">
  <div id="bg" class="bg">
    <form id="form-register" method="post" name="register" novalidate>
      <div id="SAO-Notify">
        <div class="notify-title">Sword Art Online <i>β</i> &nbsp;test</div>
        <div class="notify-alert">
          <div class="form">
            <div class="input-field col s6">
              <input id="name" type="text" name="name" ng-model="input" class="validate" required>
              <label for="name">名字</label>
            </div>
            <p class="alert alert-danger" ng-show="form-register.input.$error.input">你的 e m a i l 輸入錯誤</p>
            <div class="input-field col s6">
              <input id="email" type="email" name="email" ng-model="email" class="validate" required>
              <label for="email">電子郵件</label>
            </div>
            <p class="alert alert-danger" ng-show="form-register.email.$error.email">你的 e m a i l 輸入錯誤</p>
          </div>
        </div>
        <div class="notify-button">
          <span class="notify-confirm">
            <button ng-disabled="form-register.$invalid" class="far fa-circle btn" type="button" name="confirm" onclick="SubmitFormData();clickAudio();cancelNotify();SAONotify('通知','<div id=\'results\'></div>')"></button>
          </span>
          <span class="notify-cancel">
            <button class="fa fa-times" type="button" name="cancel" onclick="panelAudio();cancelNotify()"></button>
          </span>
          </div>
          <audio id="SAO-Notify-Panel" src="https://npm.elemecdn.com/akilar-candyassets/audio/Panel.mp3"></audio>
          <audio id="SAO-Notify-Click" src="https://npm.elemecdn.com/akilar-candyassets/audio/Click.mp3"></audio>
    </form>
  </div>
</body>

</html>